.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  font-family: "Segoe UI", sans-serif;
  background-color: #f7f9fb;
  color: #333;
}

.error {
  text-align: center;
  color: red;
  margin-top: 2rem;
}
